#box{
  width: 114px;
  height: 114px;
  display: inline-block;
  background-color: white;
  border: 2px solid black;
  margin: 4px;
}
#divX{
  height:20px;
  width:20px;
  font-size: 20px;
  border: 2px dashed black;
}

#buttonOne{
  border: none;
  font-size: 16px;
  padding: 14px 40px;
  color: white;
  background-color: black;
  margin: 1em;
  position: absolute;
}
h1 {
  text-align: center;
}
p{
font-family: fantasy;
height: 30px;
margin: 10px;
font-size: 16px;
padding: 10px;
}
#buttonDiv{
  margin: 4px;
  text-align: center;
}
#divOne {
  margin-top: 90px;
}
